body {
  font: 12px/18px Arial,Tahoma,sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 8px 0 0 0;
  clear: both;
  overflow: hidden;
}

li {
  float: left;
  padding-left: 5px;
}

a {
  text-decoration: none;
}

.embedded_st-container {
  padding: 10px 8px 0 8px;
  /*With to preserve 500px width of container against padding*/
  width: 482px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #ddddd3; /* Should be a hex code */
  border-top: 0;
  border-bottom-color: #bbbbbb;
  overflow: hidden;
}

.embedded_st-container p {
  font-size: 14px;
  margin-left: 1px;
}

.embedded_st-modal-content {
  height: 30px;
  width: 498px; /*2px comes from 1px border around outer element*/
  padding-top: 10px;
  text-align: center;
  background-color: #89130a;
  color: white;
  margin-left: -8px;
  margin-top: -10px;
}

.embedded_st-modal-title {
  vertical-align: middle;
  font-size: 16px;
  text-shadow: 0 -1px 0 #000;
}

.embedded_st-cancel-button {
  cursor: pointer;
  height: 41px;
  float: right;
  clear: both;
  margin-top: -11px;
  margin-right: 5px;
  border: none;
  font-size: 16px;
  color: white;
  padding: 10px;
  background-color: #89130a;
  vertical-align: middle;
}

.textareaContainer {
  padding: 0 8px 16px 0;
}

textarea.embedded_st-code {
  width: 100%;
  display: block;
  resize: none;
  border: 2px solid #999;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

textarea.embedded_st-code:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 5px #9ecaed;
}

.embedded_st-header {
  margin-left: -4px;
}

.embedded_st-dateline {
  float: right;
  height: 18px;
  color: #898989;
  margin-right: 4px;
}

.embedded_st-avatar {
  position: relative;
  float: left;
  top: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.embedded_st-username {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;
}

.embedded_st-entry-title {
  line-height: 1.3;
  font-size: 14px;
}

.embedded_st-media {
  margin-top: 25px;
  height: 300px;
  width: 100%;
  background-color: gray;
}

.embedded_st-actions {
  padding-bottom: 10px;
  font-size: 14px;
}

.embedded_st-like-action,
.embedded_st-share-action,
.embedded_st-reply-action {
  color: #5774a2;
}

.embedded_st-share-action:before,
.embedded_st-reply-action:before {
  content: "\2022";
  padding-right: 5px;
  color: #898989;
}

